<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Chat | ChatApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="style.css"/>
</head>


<body class="chat">
        

  <div class="chat__sidebar">
    <h3 class="chat__sidebar h3">People</h3>
    <div id="users">
        <ul>
            <%= users.forEach(function(user){ %>
               <li><%= users.name %></li> 
                <%= }) %>
        </ul>
    </div>
  </div>

  <div class="chat__main">
    <ol id="render-message" class="chat__messages"></ol>
    <div class="chat__footer">
      <form id="message-form">
      <input id="input" name="message" type="text" placeholder="Message" autofocus autocomplete="off" />
      <button>Send</button>
      </form>
      <button id="send-location">Send Location</button>
    </div>
  </div>


  <p>Welcome to the chat app</p>


  
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="chat.js"></script>
</body>

</html>
